body main .contact-form, body main .card, body main .tarjeta-vinos {
  display: flex;
  justify-content: center;
  align-items: center;
}

body main .submit_btn, body main .text_area, body main .inp, body main .contact-form {
  width: 70%;
  margin: 10px auto;
}

body header p {
  color: white;
  font: initial;
  font-style: italic;
  font-size: 16px;
  background-color: black;
  text-align: center;
  word-spacing: normal;
}
body header .logo {
  width: 25%;
  margin: 5px;
}
body header .my-navbar {
  color: #6B1818;
  font: initial;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20%;
}
body header .my-navbar:hover {
  color: white;
  background-color: #6B1818;
}
body header .my-navbar:active {
  text-decoration: underline;
  text-decoration-color: #6B1818;
  background-color: white;
}
body header .btn-cel {
  color: #6B1818;
}
body main section h1 {
  color: darkred;
  font: initial;
  font-size: 32px;
  text-align: center;
  margin: 40px;
}
body main .titulo-tarjeta {
  font-size: 20px;
  color: #6B1818;
  font-family: Georgia;
}
body main .texto-tarjeta {
  color: #6B1818;
  font-family: arial;
  font-weight: bold;
}
body main .card {
  margin: 10px 10px 10px 10px;
}
body main div img {
  max-width: 40%;
}
body main .carousel-control-prev-icon, body main .carousel-control-next-icon {
  filter: invert(100%);
}
body main .btn-agregar {
  border: darkred;
  border-radius: 10px;
  background-color: #9c4b4b;
}
body main .btn-agregar:hover {
  background-color: white;
  color: #9c4b4b;
}
body main h1 {
  font: initial;
  color: darkred;
  font-size: 35px;
  text-align: center;
  text-decoration: underline;
  margin: 40px;
}
body main .img-cel {
  width: auto;
  height: auto;
}
body main div p {
  color: darkred;
  font-size: 14px;
  font: initial;
  text-align: justify;
}
body main .imagen {
  margin-bottom: 10%;
}
body main h1 {
  color: darkred;
  font-style: italic;
}
body main * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body main main form {
  background-color: whitesmoke;
  width: 100vw;
}
body main input::placeholder, body main textarea::placeholder {
  font-family: sans-serif;
}
body main .contact-form {
  padding: 25px;
  flex-direction: column;
  max-width: 600px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 15px;
}
body main .inp {
  padding: 4px 13px;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 40px;
}
body main .text_area {
  padding: 13px 13px;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  resize: none;
}
body main .submit_btn {
  padding: 13px 13px;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #6B1818;
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
body footer {
  background-color: #AB9888;
}
body footer .footer-title {
  text-align: left;
  color: white;
  font-size: 32px;
}
body footer span {
  color: darkred;
  font-size: 18px;
  text-align: left;
}
body footer p {
  font-size: 16px;
  color: black;
}

/*# sourceMappingURL=style.css.map */
