
/*header en todas mis html*/
header p{
    color: white;
    font: initial;
    font-style: italic;
    font-size: 16px;
    background-color: black;
    text-align: center;
    word-spacing: normal;

}

/*nav en todos los html*/
.logo{
    width: 25%;
    margin: 5px;
}

.my-navbar {
    color: #6B1818;
    font: initial;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20%;
}
.my-navbar:hover {
    color: white;
    background-color: #6B1818;
}
.activo:active {
    text-decoration: underline;
    text-decoration-color: #6B1818;
    background-color: white;
}
.btn-cel{
    color: #6B1818;
}

/*index*/
main section h1{ 
    color: darkred;
    font: initial;
    font-size: 32px;
    text-align: center;
    margin: 40px;
}

.titulo-tarjeta{
    font-size: 20px;
    color: #6B1818;
}

.tarjeta-vinos {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    margin: 10px 10px 10px 10px; 
    align-items: center;
}
div img {
    max-width: 40%;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%);
  }

.btn-agregar{
    border: darkred;
    border-radius: 10px;
    background-color: #9c4b4b;
}
.btn-agregar:hover{
    background-color: white;
    color: #9c4b4b
}

/*index-vinos-promociones*/


/*promociones*/
body section article{
    display: inline;
}
body section article img{
    margin: 25px 10px 25px 10px;
    padding: 20px;
}

/*nosotros*/
main h1 {
    font: initial;
    color: darkred;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    margin: 40px;
}
.img-cel{
    width: auto;
    height: auto;
}
main div p {
    color: darkred;
    font-size: 14px;
    font: initial;
    text-align: justify
}


/*contacto-informacion*/
h1 {
    color: darkred;
    font-style: italic;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  body {
    background-color: whitesmoke;
    width: 100vw;
    /* height: 150vh; */
}

/* form {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
} */

input::placeholder {
    font-family: sans-serif;
  }
  textarea::placeholder {
    font-family: sans-serif;
  }
.contact-form {
    padding: 25px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contact-form .inp {
    width: 70%;
    margin: 10px auto;
    padding: 4px 13px;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 40px;
}
/*contacto-mensaje*/
.text_area {
    width: 70%;
    margin: 10px auto;
    padding: 13px 13px;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    resize: none;
}
/*contacto-enviar*/
.submit_btn {
    width: 70%;
    margin: 10px auto;
    padding: 13px 13px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #6B1818;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/*footer en todos mis html*/
footer{
    background-color: #AB9888; 
}

.footer-title{
    text-align: left;
    color: white;
    font-size: 32px;
}

footer span{
    color: darkred;
    font-size: 18px;
    text-align: left;
}

footer p{
    font-size: 16px;
    color: black;
}
